<h1>New Participant</h1>
<%= form_tag "/raffle_entries", method: :post do %>
<p><input type="text" name="first_name" placeholder="First Name" value=""> </p>
<p><input type="text" name="last_name" placeholder="Last Name" value=""> </p>
<p><input type="email" name="email" placeholder="Email" value=""> </p>
<p><input type="tel" name="phone" placeholder="phone number" value=""> </p>
<p>
  <select name="exercise">
    <option name="exercise" value="Lunges">Lunges</option>
    <option name="exercise" value="Pull-Ups">Pull-Ups</option>
    <option name="exercise" value="Crunches">Crunches</option>
    <option name="exercise" value="Squats">Squats</option>
    <option name="exercise" value="Push-Ups">Push-Ups</option>
  </select>
</p>

<p><input type="integer" name="repetitions" placeholder="reps" value=""> </p>
<p><input type="submit" value="Submit"> </p>

<% end %>
